<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1>Extracting and Visualizing Stock Data</h1>
<h2>Description</h2>

Extracting essential data from a dataset and displaying it is a necessary part of data science; therefore individuals can make correct decisions based on the data. In this assignment, you will extract some stock data, you will then display this data in a graph.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>Define a Function that Makes a Graph</li>
        <li>Question 1: Use yfinance to Extract Stock Data</li>
        <li>Question 2: Use Webscraping to Extract Tesla Revenue Data</li>
        <li>Question 3: Use yfinance to Extract Stock Data</li>
        <li>Question 4: Use Webscraping to Extract GME Revenue Data</li>
        <li>Question 5: Plot Tesla Stock Graph</li>
        <li>Question 6: Plot GameStop Stock Graph</li>
    </ul>
<p>
    Estimated Time Needed: <strong>30 min</strong></p>
</div>

<hr>

In [2]:
!pip install yfinance
#!pip install pandas
#!pip install requests
!pip install bs4
#!pip install plotly

Collecting yfinance
  Downloading yfinance-0.1.63.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from yfinance) (1.2.4)
Requirement already satisfied: numpy>=1.15 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from yfinance) (1.19.2)
Requirement already satisfied: requests>=2.20 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from yfinance) (2.25.1)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.9.tar.gz (8.1 kB)
Requirement already satisfied: lxml>=4.5.1 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from yfinance) (4.6.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2021.1)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from requests>=2.20->yfinance) (1.26.6)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.63-py2.py3-none-any.whl size=23907 sha256=a8abbfd7f22f39b0a4507ffe9cc60e838afd86d0f489c916af2083c2e45c881a
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/ec/cc/c1/32da8ee853d742d5d7cbd11ee04421222eb354672020b57297
  Building wheel for multitasking (setup.py) ... done
  Created wheel for multitasking: filename=multitasking-0.0.9-py3-none-any.whl size=8367 sha256=449b346db49c25e47e03a1fcd3c5ecefb63f0cc0fb6e3725bb3d9e403f289b96
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/57/6d/a3/a39b839cc75274d2acfb1c58bfead2f726c6577fe8c4723f13
Successfully built yfinance multitasking
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.9 yfinance-0.1.63
Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Requirement already satisfied: beautifulsoup4 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from beautifulsoup4->bs4) (2.2.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1273 sha256=d2f27acb3e5cb0cee6fd13c53b26b29d944e1b3a69d308956a31609db91f4777
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/75/78/21/68b124549c9bdc94f822c02fb9aa3578a669843f9767776bca
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1

In [4]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

## Define Graphing Function

In this section, we define the function `make_graph`. You don't have to know how the function works, you should only care about the inputs. It takes a dataframe with stock data (dataframe must contain Date and Close columns), a dataframe with revenue data (dataframe must contain Date and Revenue columns), and the name of the stock.

In [5]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

## Question 1: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is Tesla and its ticker symbol is `TSLA`.

In [7]:
tesla = yf.Ticker("TSLA")
tesla_info=tesla.info
tesla_info

{'zip': '94304',
 'sector': 'Consumer Cyclical',
 'fullTimeEmployees': 70757,
 'longBusinessSummary': 'Tesla, Inc. designs, develops, manufactures, leases, and sells electric vehicles, and energy generation and storage systems in the United States, China, and internationally. The company operates in two segments, Automotive, and Energy Generation and Storage. The Automotive segment offers electric vehicles, as well as sells automotive regulatory credits. It provides sedans and sport utility vehicles through direct and used vehicle sales, a network of Tesla Superchargers, and in-app upgrades; and purchase financing and leasing services. This segment is also involved in the provision of non-warranty after-sales vehicle services, sale of used vehicles, retail merchandise, and vehicle insurance, as well as sale of products through its subsidiaries to third party customers; services for electric vehicles through its company-owned service locations, and Tesla mobile service technicians; and vehicle limited warranties and extended service plans. The Energy Generation and Storage segment engages in the design, manufacture, installation, sale, and leasing of solar energy generation and energy storage products, and related services to residential, commercial, and industrial customers and utilities through its website, stores, and galleries, as well as through a network of channel partners. This segment also offers service and repairs to its energy product customers, including under warranty; and various financing options to its solar customers. The company was formerly known as Tesla Motors, Inc. and changed its name to Tesla, Inc. in February 2017. Tesla, Inc. was founded in 2003 and is headquartered in Palo Alto, California.',
 'city': 'Palo Alto',
 'phone': '650-681-5000',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.tesla.com',
 'maxAge': 1,
 'address1': '3500 Deer Creek Road',
 'industry': 'Auto Manufacturers',
 'ebitdaMargins': 0.13857001,
 'profitMargins': 0.0521,
 'grossMargins': 0.22044,
 'operatingCashflow': 9184000000,
 'revenueGrowth': 0.981,
 'operatingMargins': 0.07876,
 'ebitda': 5800999936,
 'targetLowPrice': 67,
 'recommendationKey': 'hold',
 'grossProfits': 6630000000,
 'freeCashflow': 4546874880,
 'targetMedianPrice': 750,
 'currentPrice': 680.26,
 'earningsGrowth': 9.2,
 'currentRatio': 1.508,
 'returnOnAssets': 0.044180002,
 'numberOfAnalystOpinions': 33,
 'targetMeanPrice': 713.15,
 'debtToEquity': 42.552,
 'returnOnEquity': 0.12275,
 'targetHighPrice': 1591,
 'totalCash': 16229000192,
 'totalDebt': 11169999872,
 'totalRevenue': 41862000640,
 'totalCashPerShare': 16.393,
 'financialCurrency': 'USD',
 'revenuePerShare': 43.812,
 'quickRatio': 1.123,
 'recommendationMean': 2.6,
 'exchange': 'NMS',
 'shortName': 'Tesla, Inc.',
 'longName': 'Tesla, Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'TSLA',
 'messageBoardId': 'finmb_27444752',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 16.001,
 'beta3Year': None,
 'enterpriseToEbitda': 115.472,
 '52WeekChange': 0.6886605,
 'morningStarRiskRating': None,
 'forwardEps': 6.97,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 990014976,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 25.207,
 'sharesShort': 29914139,
 'sharesPercentSharesOut': 0.030199999,
 'fundFamily': None,
 'lastFiscalYearEnd': 1609372800,
 'heldPercentInstitutions': 0.41287,
 'netIncomeToCommon': 2150000128,
 'trailingEps': 1.897,
 'lastDividendValue': None,
 'SandP52WeekChange': 0.29446447,
 'priceToBook': 26.986948,
 'heldPercentInsiders': 0.18962,
 'nextFiscalYearEnd': 1672444800,
 'yield': None,
 'mostRecentQuarter': 1625011200,
 'shortRatio': 1.41,
 'sharesShortPreviousMonthDate': 1625011200,
 'floatShares': 801743975,
 'beta': 1.963959,
 'enterpriseValue': 669854728192,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': None,
 'lastSplitFactor': None,
 'legalType': None,
 'lastDividendDate': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 9.981,
 'priceToSalesTrailing12Months': 16.087803,
 'dateShortInterest': 1627603200,
 'pegRatio': 2.61,
 'ytdReturn': None,
 'forwardPE': 97.59828,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0373,
 'sharesShortPriorMonth': 34093281,
 'impliedSharesOutstanding': None,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 673.47,
 'regularMarketOpen': 682.85,
 'twoHundredDayAverage': 675.293,
 'trailingAnnualDividendYield': None,
 'payoutRatio': 0,
 'volume24Hr': None,
 'regularMarketDayHigh': 692.1299,
 'navPrice': None,
 'averageDailyVolume10Day': 18571628,
 'regularMarketPreviousClose': 673.47,
 'fiftyDayAverage': 676.31354,
 'trailingAnnualDividendRate': None,
 'open': 682.85,
 'toCurrency': None,
 'averageVolume10days': 18571628,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': None,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 673.72,
 'currency': 'USD',
 'trailingPE': 358.5978,
 'regularMarketVolume': 14841865,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 673467596800,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 21862076,
 'dayLow': 673.72,
 'ask': 680.5,
 'askSize': 1100,
 'volume': 14841865,
 'fiftyTwoWeekHigh': 900.4,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 329.88,
 'bid': 680,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': 1000,
 'dayHigh': 692.1299,
 'regularMarketPrice': 680.26,
 'logo_url': 'https://logo.clearbit.com/tesla.com'}

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `tesla_data`. Set the `period` parameter to `max` so we get information for the maximum amount of time.

In [13]:
tesla_data = tesla.history(period="max")
tesla_data.head()

             Open   High    Low  Close    Volume  Dividends  Stock Splits
Date
2010-06-29  3.800  5.000  3.508  4.778  93831500          0           0.0
2010-06-30  5.158  6.084  4.660  4.766  85935500          0           0.0
2010-07-01  5.000  5.184  4.054  4.392  41094000          0           0.0
2010-07-02  4.600  4.620  3.742  3.840  25699000          0           0.0
2010-07-06  4.000  4.000  3.166  3.222  34334500          0           0.0

**Reset the index** using the `reset_index(inplace=True)` function on the tesla_data DataFrame and display the first five rows of the `tesla_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 1 to the results below.

In [14]:
tesla_data.reset_index(inplace=True)
tesla_data.head(5)

        Date   Open   High    Low  Close    Volume  Dividends  Stock Splits
0 2010-06-29  3.800  5.000  3.508  4.778  93831500          0           0.0
1 2010-06-30  5.158  6.084  4.660  4.766  85935500          0           0.0
2 2010-07-01  5.000  5.184  4.054  4.392  41094000          0           0.0
3 2010-07-02  4.600  4.620  3.742  3.840  25699000          0           0.0
4 2010-07-06  4.000  4.000  3.166  3.222  34334500          0           0.0

## Question 2: Use Webscraping to Extract Tesla Revenue Data

Use the `requests` library to download the webpage [https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue](https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01). Save the text of the response as a variable named `html_data`.

In [13]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
url = "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"

html_data  = requests.get(url).text
soup = BeautifulSoup(html_data, 'html5lib')

Parse the html data using `beautiful_soup`.

In [50]:
tesla_revenue = pd.read_html(str(tables[1]), flavor='bs4')[0]
tesla_revenue
tesla_revenue = pd.read_html("https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue", flavor='bs4')
tesla_revenue[1]

,Tesla Quarterly Revenue(Millions of US $),Tesla Quarterly Revenue(Millions of US $).1
0,2021-06-30,"$11,958"
1,2021-03-31,"$10,389"
2,2020-12-31,"$10,744"
3,2020-09-30,"$8,771"
4,2020-06-30,"$6,036"
5,2020-03-31,"$5,985"
6,2019-12-31,"$7,384"
7,2019-09-30,"$6,303"
8,2019-06-30,"$6,350"
9,2019-03-31,"$4,541"
10,2018-12-31,"$7,226"
11,2018-09-30,"$6,824"
12,2018-06-30,"$4,002"
13,2018-03-31,"$3,409"
14,2017-12-31,"$3,288"
15,2017-09-30,"$2,985"
16,2017-06-30,"$2,790"
17,2017-03-31,"$2,696"
18,2016-12-31,"$2,285"
19,2016-09-30,"$2,298"
20,2016-06-30,"$1,270"
21,2016-03-31,"$1,147"
22,2015-12-31,"$1,214"
23,2015-09-30,$937
24,2015-06-30,$955
25,2015-03-31,$940
26,2014-12-31,$957
27,2014-09-30,$852
28,2014-06-30,$769
29,2014-03-31,$621
30,2013-12-31,$615
31,2013-09-30,$431
32,2013-06-30,$405
33,2013-03-31,$562
34,2012-12-31,$306
35,2012-09-30,$50
36,2012-06-30,$27
37,2012-03-31,$30
38,2011-12-31,$39
39,2011-09-30,$58
40,2011-06-30,$58
41,2011-03-31,$49
42,2010-12-31,$36
43,2010-09-30,$31
44,2010-06-30,$28
45,2010-03-31,$21
46,2009-12-31,NaN
47,2009-09-30,$46
48,2009-06-30,$27
49,2008-12-31,NaN

Using `BeautifulSoup` or the `read_html` function extract the table with `Tesla Quarterly Revenue` and store it into a dataframe named `tesla_revenue`. The dataframe should have columns `Date` and `Revenue`.

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1


```

</details>

In [61]:
tesla_revenue = pd.DataFrame(columns=["Date","Quarterly Revenue"])
for row in soup.find_all("tbody")[1].find_all("tr"):
        col=row.find_all("td")
        date= col[0].text
        revenue = col[1].text
        
        tesla_revenue = tesla_revenue.append({'Date':date, "Quarterly Revenue":revenue}, ignore_index= True)
tesla_revenue

          Date Quarterly Revenue
0   2021-06-30           $11,958
1   2021-03-31           $10,389
2   2020-12-31           $10,744
3   2020-09-30            $8,771
4   2020-06-30            $6,036
5   2020-03-31            $5,985
6   2019-12-31            $7,384
7   2019-09-30            $6,303
8   2019-06-30            $6,350
9   2019-03-31            $4,541
10  2018-12-31            $7,226
11  2018-09-30            $6,824
12  2018-06-30            $4,002
13  2018-03-31            $3,409
14  2017-12-31            $3,288
15  2017-09-30            $2,985
16  2017-06-30            $2,790
17  2017-03-31            $2,696
18  2016-12-31            $2,285
19  2016-09-30            $2,298
20  2016-06-30            $1,270
21  2016-03-31            $1,147
22  2015-12-31            $1,214
23  2015-09-30              $937
24  2015-06-30              $955
25  2015-03-31              $940
26  2014-12-31              $957
27  2014-09-30              $852
28  2014-06-30              $769
29  2014-03-31              $621
30  2013-12-31              $615
31  2013-09-30              $431
32  2013-06-30              $405
33  2013-03-31              $562
34  2012-12-31              $306
35  2012-09-30               $50
36  2012-06-30               $27
37  2012-03-31               $30
38  2011-12-31               $39
39  2011-09-30               $58
40  2011-06-30               $58
41  2011-03-31               $49
42  2010-12-31               $36
43  2010-09-30               $31
44  2010-06-30               $28
45  2010-03-31               $21
46  2009-12-31
47  2009-09-30               $46
48  2009-06-30               $27
49  2008-12-31

Execute the following line to remove the comma and dollar sign from the `Revenue` column.

In [75]:
#revenue2 = col2[1].text.replace("$", "").replace(",", "")
#tesla_revenue['Revenue'] = tesla_revenue['Revenue'].replace({'\$\': '', ',': ''}, regex=True)
#tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"")
tesla_revenue['Revenue'] = tesla_revenue['Revenue'].replace({'\$': '', ',': ''}, regex=True)

KeyError: 'Revenue'

Execute the following lines to remove an null or empty strings in the Revenue column.

In [76]:
tesla_revenue.dropna(inplace=True)
tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

KeyError: 'Revenue'

Display the last 5 row of the `tesla_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [64]:
tesla_revenue.tail()

          Date Quarterly Revenue
45  2010-03-31               $21
46  2009-12-31
47  2009-09-30               $46
48  2009-06-30               $27
49  2008-12-31

## Question 3: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is GameStop and its ticker symbol is `GME`.

In [3]:
!pip install yfinance
#!pip install pandas
#!pip install requests
!pip install bs4
#!pip install plotly
import yfinance as yf
import pandas as pd
gamestop = yf.Ticker("GME")
gamestop_info=gamestop.info
gamestop_info

Collecting yfinance
  Downloading yfinance-0.1.63.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from yfinance) (1.2.4)
Requirement already satisfied: numpy>=1.15 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from yfinance) (1.19.2)
Requirement already satisfied: requests>=2.20 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from yfinance) (2.25.1)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.9.tar.gz (8.1 kB)
Requirement already satisfied: lxml>=4.5.1 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from yfinance) (4.6.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2021.1)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from requests>=2.20->yfinance) (1.26.6)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2.8)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.63-py2.py3-none-any.whl size=23907 sha256=d6b0960a4ee84f16b0772201c254ec5ec84c4813443486550fa5c578474b6555
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/ec/cc/c1/32da8ee853d742d5d7cbd11ee04421222eb354672020b57297
  Building wheel for multitasking (setup.py) ... done
  Created wheel for multitasking: filename=multitasking-0.0.9-py3-none-any.whl size=8367 sha256=ec044fcb7c4a600dc795a5c1c00782e632d79118d483f9579cf8e20ed019e6f5
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/57/6d/a3/a39b839cc75274d2acfb1c58bfead2f726c6577fe8c4723f13
Successfully built yfinance multitasking
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.9 yfinance-0.1.63
Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Requirement already satisfied: beautifulsoup4 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from beautifulsoup4->bs4) (2.2.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1273 sha256=ac991fc0394302e67fe0094a0fcb80795cc05b03ef2d6c2b27dac181867b5cdc
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/75/78/21/68b124549c9bdc94f822c02fb9aa3578a669843f9767776bca
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1

{'zip': '76051',
 'sector': 'Consumer Cyclical',
 'fullTimeEmployees': 12000,
 'longBusinessSummary': 'GameStop Corp., a specialty retailer, provides games and entertainment products through its e-commerce properties and various stores in the United States, Canada, Australia, and Europe. The company sells new and pre-owned video game platforms; accessories, such as controllers, gaming headsets, virtual reality products, and memory cards; new and pre-owned video game software; and in-game digital currency, digital downloadable content, and full-game downloads, as well as network points cards, and prepaid digital and subscription cards. It also sells collectibles comprising licensed merchandise primarily related to the video game, television, and movie industries, as well as pop culture themes. The company operates its stores and e-commerce sites under the GameStop, EB Games, and Micromania brands; and collectibles stores under the Zing Pop Culture and ThinkGeek brand, as well as offers Game Informer, a print and digital video game publication featuring reviews of new title releases, game tips, and news regarding the video game industry. As of January 30, 2021, it operated 4,816 stores. The company was formerly known as GSC Holdings Corp. GameStop Corp. was founded in 1996 and is headquartered in Grapevine, Texas.',
 'city': 'Grapevine',
 'phone': '817 424 2000',
 'state': 'TX',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.gamestop.com',
 'maxAge': 1,
 'address1': '625 Westport Parkway',
 'industry': 'Specialty Retail',
 'ebitdaMargins': -0.020179998,
 'profitMargins': -0.02177,
 'grossMargins': 0.24454,
 'operatingCashflow': 154200000,
 'revenueGrowth': 0.251,
 'operatingMargins': -0.034760002,
 'ebitda': -107900000,
 'targetLowPrice': 25,
 'recommendationKey': 'underperform',
 'grossProfits': 1259500000,
 'freeCashflow': -7125000,
 'targetMedianPrice': 50,
 'currentPrice': 159.3,
 'earningsGrowth': None,
 'currentRatio': 1.361,
 'returnOnAssets': -0.04616,
 'numberOfAnalystOpinions': 3,
 'targetMeanPrice': 88.33,
 'debtToEquity': 81.012,
 'returnOnEquity': -0.17695,
 'targetHighPrice': 190,
 'totalCash': 694700032,
 'totalDebt': 712499968,
 'totalRevenue': 5345600000,
 'totalCashPerShare': 10.037,
 'financialCurrency': 'USD',
 'revenuePerShare': 81.768,
 'quickRatio': 0.784,
 'recommendationMean': 4,
 'exchange': 'NYQ',
 'shortName': 'GameStop Corporation',
 'longName': 'GameStop Corp.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'GME',
 'messageBoardId': 'finmb_1342560',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 2.066,
 'beta3Year': None,
 'enterpriseToEbitda': -102.352,
 '52WeekChange': 31.710472,
 'morningStarRiskRating': None,
 'forwardEps': -0.03,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 74379200,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 12.691,
 'sharesShort': 7664869,
 'sharesPercentSharesOut': 0.1031,
 'fundFamily': None,
 'lastFiscalYearEnd': 1611964800,
 'heldPercentInstitutions': 0.37103,
 'netIncomeToCommon': -116300000,
 'trailingEps': -1.78,
 'lastDividendValue': None,
 'SandP52WeekChange': 0.29446447,
 'priceToBook': 12.552202,
 'heldPercentInsiders': 0.18976,
 'nextFiscalYearEnd': 1675036800,
 'yield': None,
 'mostRecentQuarter': 1619827200,
 'shortRatio': 2.98,
 'sharesShortPreviousMonthDate': 1625011200,
 'floatShares': 56376416,
 'beta': -2.084991,
 'enterpriseValue': 11043770368,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': None,
 'lastSplitFactor': None,
 'legalType': None,
 'lastDividendDate': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': None,
 'priceToSalesTrailing12Months': 2.2165158,
 'dateShortInterest': 1627603200,
 'pegRatio': 6.11,
 'ytdReturn': None,
 'forwardPE': -5310,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.1726,
 'sharesShortPriorMonth': 8224618,
 'impliedSharesOutstanding': 69379200,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 152.9,
 'regularMarketOpen': 153.8,
 'twoHundredDayAverage': 171.09698,
 'trailingAnnualDividendYield': 0,
 'payoutRatio': 0,
 'volume24Hr': None,
 'regularMarketDayHigh': 160.09,
 'navPrice': None,
 'averageDailyVolume10Day': 1268428,
 'regularMarketPreviousClose': 152.9,
 'fiftyDayAverage': 169.87823,
 'trailingAnnualDividendRate': 0,
 'open': 153.8,
 'toCurrency': None,
 'averageVolume10days': 1268428,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': 1552521600,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 153.24,
 'currency': 'USD',
 'regularMarketVolume': 1086527,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 11848606720,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 5457384,
 'dayLow': 153.24,
 'ask': 159.75,
 'askSize': 2200,
 'volume': 1086527,
 'fiftyTwoWeekHigh': 483,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 4.56,
 'bid': 159.46,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': 1300,
 'dayHigh': 160.09,
 'regularMarketPrice': 159.3,
 'logo_url': 'https://logo.clearbit.com/gamestop.com'}

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `gme_data`. Set the `period` parameter to `max` so we get information for the maximum amount of time.

In [4]:
gme_data = gamestop.history(period="max")
gme_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2002-02-13,6.480513,6.773399,6.413183,6.766666,19054000,0.0,0.0
2002-02-14,6.850831,6.864296,6.682506,6.733003,2755400,0.0,0.0
2002-02-15,6.733001,6.749833,6.632006,6.699336,2097400,0.0,0.0
2002-02-19,6.665671,6.665671,6.312189,6.430017,1852600,0.0,0.0
2002-02-20,6.463681,6.648838,6.413183,6.648838,1723200,0.0,0.0

**Reset the index** using the `reset_index(inplace=True)` function on the gme_data DataFrame and display the first five rows of the `gme_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 3 to the results below.

In [6]:
gme_data.reset_index(inplace=True)
gme_data.head()

,index,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,0,2002-02-13,6.480513,6.773399,6.413183,6.766666,19054000,0.0,0.0
1,1,2002-02-14,6.850831,6.864296,6.682506,6.733003,2755400,0.0,0.0
2,2,2002-02-15,6.733001,6.749833,6.632006,6.699336,2097400,0.0,0.0
3,3,2002-02-19,6.665671,6.665671,6.312189,6.430017,1852600,0.0,0.0
4,4,2002-02-20,6.463681,6.648838,6.413183,6.648838,1723200,0.0,0.0

## Question 4: Use Webscraping to Extract GME Revenue Data

Use the `requests` library to download the webpage [https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue](https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01). Save the text of the response as a variable named `html_data`.

In [8]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
url = "https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue"

html_data  = requests.get(url).text

Parse the html data using `beautiful_soup`.

In [10]:
soup = BeautifulSoup(html_data, 'html5lib')

Using `BeautifulSoup` or the `read_html` function extract the table with `GameStop Quarterly Revenue` and store it into a dataframe named `gme_revenue`. The dataframe should have columns `Date` and `Revenue`. Make sure the comma and dollar sign is removed from the `Revenue` column using a method similar to what you did in Question 2.

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1


```

</details>

In [11]:
soup.find_all("tbody")[1]

<tbody>


				<tr>
					<td style="text-align:center">2021-04-30</td>





						<td style="text-align:center">$1,277</td>



				  </tr>


				<tr>
					<td style="text-align:center">2021-01-31</td>





						<td style="text-align:center">$2,122</td>



				  </tr>


				<tr>
					<td style="text-align:center">2020-10-31</td>





						<td style="text-align:center">$1,005</td>



				  </tr>


				<tr>
					<td style="text-align:center">2020-07-31</td>





						<td style="text-align:center">$942</td>



				  </tr>


				<tr>
					<td style="text-align:center">2020-04-30</td>





						<td style="text-align:center">$1,021</td>



				  </tr>


				<tr>
					<td style="text-align:center">2020-01-31</td>





						<td style="text-align:center">$2,194</td>



				  </tr>


				<tr>
					<td style="text-align:center">2019-10-31</td>





						<td style="text-align:center">$1,439</td>



				  </tr>


				<tr>
					<td style="text-align:center">2019-07-31</td>





						<td style="text-align:center">$1,286</td>



				  </tr>


				<tr>
					<td style="text-align:center">2019-04-30</td>





						<td style="text-align:center">$1,548</td>



				  </tr>


				<tr>
					<td style="text-align:center">2019-01-31</td>





						<td style="text-align:center">$3,063</td>



				  </tr>


				<tr>
					<td style="text-align:center">2018-10-31</td>





						<td style="text-align:center">$1,935</td>



				  </tr>


				<tr>
					<td style="text-align:center">2018-07-31</td>





						<td style="text-align:center">$1,501</td>



				  </tr>


				<tr>
					<td style="text-align:center">2018-04-30</td>





						<td style="text-align:center">$1,786</td>



				  </tr>


				<tr>
					<td style="text-align:center">2018-01-31</td>





						<td style="text-align:center">$2,825</td>



				  </tr>


				<tr>
					<td style="text-align:center">2017-10-31</td>





						<td style="text-align:center">$1,989</td>



				  </tr>


				<tr>
					<td style="text-align:center">2017-07-31</td>





						<td style="text-align:center">$1,688</td>



				  </tr>


				<tr>
					<td style="text-align:center">2017-04-30</td>





						<td style="text-align:center">$2,046</td>



				  </tr>


				<tr>
					<td style="text-align:center">2017-01-31</td>





						<td style="text-align:center">$2,403</td>



				  </tr>


				<tr>
					<td style="text-align:center">2016-10-31</td>





						<td style="text-align:center">$1,959</td>



				  </tr>


				<tr>
					<td style="text-align:center">2016-07-31</td>





						<td style="text-align:center">$1,632</td>



				  </tr>


				<tr>
					<td style="text-align:center">2016-04-30</td>





						<td style="text-align:center">$1,972</td>



				  </tr>


				<tr>
					<td style="text-align:center">2016-01-31</td>





						<td style="text-align:center">$3,525</td>



				  </tr>


				<tr>
					<td style="text-align:center">2015-10-31</td>





						<td style="text-align:center">$2,016</td>



				  </tr>


				<tr>
					<td style="text-align:center">2015-07-31</td>





						<td style="text-align:center">$1,762</td>



				  </tr>


				<tr>
					<td style="text-align:center">2015-04-30</td>





						<td style="text-align:center">$2,061</td>



				  </tr>


				<tr>
					<td style="text-align:center">2015-01-31</td>





						<td style="text-align:center">$3,476</td>



				  </tr>


				<tr>
					<td style="text-align:center">2014-10-31</td>





						<td style="text-align:center">$2,092</td>



				  </tr>


				<tr>
					<td style="text-align:center">2014-07-31</td>





						<td style="text-align:center">$1,731</td>



				  </tr>


				<tr>
					<td style="text-align:center">2014-04-30</td>





						<td style="text-align:center">$1,996</td>



				  </tr>


				<tr>
					<td style="text-align:center">2014-01-31</td>





						<td style="text-align:center">$3,684</td>



				  </tr>


				<tr>
					<td style="text-align:center">2013-10-31</td>





						<td style="text-align:center">$2,107</td>



				  </tr>


				<tr>
					<td style="text-align:center">2013-07-31</td>





						<td style="text-align:center">$1,384</td>



				  </tr>


				<tr>
					<td style="text-align:center">2013-04-30</td>





						<td style="text-align:center">$1,865</td>



				  </tr>


				<tr>
					<td style="text-align:center">2013-01-31</td>





						<td style="text-align:center">$3,562</td>



				  </tr>


				<tr>
					<td style="text-align:center">2012-10-31</td>





						<td style="text-align:center">$1,773</td>



				  </tr>


				<tr>
					<td style="text-align:center">2012-07-31</td>





						<td style="text-align:center">$1,550</td>



				  </tr>


				<tr>
					<td style="text-align:center">2012-04-30</td>





						<td style="text-align:center">$2,002</td>



				  </tr>


				<tr>
					<td style="text-align:center">2012-01-31</td>





						<td style="text-align:center">$3,579</td>



				  </tr>


				<tr>
					<td style="text-align:center">2011-10-31</td>





						<td style="text-align:center">$1,947</td>



				  </tr>


				<tr>
					<td style="text-align:center">2011-07-31</td>





						<td style="text-align:center">$1,744</td>



				  </tr>


				<tr>
					<td style="text-align:center">2011-04-30</td>





						<td style="text-align:center">$2,281</td>



				  </tr>


				<tr>
					<td style="text-align:center">2011-01-31</td>





						<td style="text-align:center">$3,693</td>



				  </tr>


				<tr>
					<td style="text-align:center">2010-10-31</td>





						<td style="text-align:center">$1,899</td>



				  </tr>


				<tr>
					<td style="text-align:center">2010-07-31</td>





						<td style="text-align:center">$1,799</td>



				  </tr>


				<tr>
					<td style="text-align:center">2010-04-30</td>





						<td style="text-align:center">$2,083</td>



				  </tr>


				<tr>
					<td style="text-align:center">2010-01-31</td>





						<td style="text-align:center">$3,524</td>



				  </tr>


				<tr>
					<td style="text-align:center">2009-10-31</td>





						<td style="text-align:center">$1,835</td>



				  </tr>


				<tr>
					<td style="text-align:center">2009-07-31</td>





						<td style="text-align:center">$1,739</td>



				  </tr>


				<tr>
					<td style="text-align:center">2009-04-30</td>





						<td style="text-align:center">$1,981</td>



				  </tr>


				<tr>
					<td style="text-align:center">2009-01-31</td>





						<td style="text-align:center">$3,492</td>



				  </tr>


				<tr>
					<td style="text-align:center">2008-10-31</td>





						<td style="text-align:center">$1,696</td>



				  </tr>


				<tr>
					<td style="text-align:center">2008-07-31</td>





						<td style="text-align:center">$1,804</td>



				  </tr>


				<tr>
					<td style="text-align:center">2008-04-30</td>





						<td style="text-align:center">$1,814</td>



				  </tr>


				<tr>
					<td style="text-align:center">2008-01-31</td>





						<td style="text-align:center">$2,866</td>



				  </tr>


				<tr>
					<td style="text-align:center">2007-10-31</td>





						<td style="text-align:center">$1,611</td>



				  </tr>


				<tr>
					<td style="text-align:center">2007-07-31</td>





						<td style="text-align:center">$1,338</td>



				  </tr>


				<tr>
					<td style="text-align:center">2007-04-30</td>





						<td style="text-align:center">$1,279</td>



				  </tr>


				<tr>
					<td style="text-align:center">2007-01-31</td>





						<td style="text-align:center">$2,304</td>



				  </tr>


				<tr>
					<td style="text-align:center">2006-10-31</td>





						<td style="text-align:center">$1,012</td>



				  </tr>


				<tr>
					<td style="text-align:center">2006-07-31</td>





						<td style="text-align:center">$963</td>



				  </tr>


				<tr>
					<td style="text-align:center">2006-04-30</td>





						<td style="text-align:center">$1,040</td>



				  </tr>


				<tr>
					<td style="text-align:center">2006-01-31</td>





						<td style="text-align:center">$1,667</td>



				  </tr>


				<tr>
					<td style="text-align:center">2005-10-31</td>





						<td style="text-align:center">$534</td>



				  </tr>


				<tr>
					<td style="text-align:center">2005-07-31</td>





						<td style="text-align:center">$416</td>



				  </tr>


				<tr>
					<td style="text-align:center">2005-04-30</td>





						<td style="text-align:center">$475</td>



				  </tr>


				<tr>
					<td style="text-align:center">2005-01-31</td>





						<td style="text-align:center">$709</td>



				  </tr>


				</tbody>

Display the last five rows of the `gme_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [12]:
gme_revenue.tail(5)

NameError: name 'gme_revenue' is not defined

## Question 5: Plot Tesla Stock Graph

Use the `make_graph` function to graph the Tesla Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(tesla_data, tesla_revenue, 'Tesla')`. Note the graph will only show data upto June 2021.

In [67]:
make_graph (tesla_data, tesla_revenue, "Tesla")

NameError: name 'make_graph' is not defined

## Question 6: Plot GameStop Stock Graph

Use the `make_graph` function to graph the GameStop Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(gme_data, gme_revenue, 'GameStop')`. Note the graph will only show data upto June 2021.

In [57]:
make_graph(gme_data, gme_revenue,"GameStop")

NameError: name 'make_graph' is not defined

<h2>About the Authors:</h2> 

<a href="https://www.linkedin.com/in/joseph-s-50398b136/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

Azim Hirjani

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By    | Change Description        |
| ----------------- | ------- | ------------- | ------------------------- |
| 2020-11-10        | 1.1     | Malika Singla | Deleted the Optional part |
| 2020-08-27        | 1.0     | Malika Singla | Added lab to GitLab       |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>

<p>